.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid rgb(211, 205, 205);
}

.task-item h3 {
    font-weight: 300;
    flex-grow: 1;
}

.task-item span {
    width: 25%;
}

.task-item button {
    margin-left: 8px;
    border: none;
    outline: none;
    padding: 3px 5px;
    color: rgb(255, 255, 255);
}

.done-btn {
    background-color: rgb(36, 191, 202);
    transition: 0.2s background-color; 
}

.done-btn:hover {
    background-color: rgb(5, 220, 200);
}

.del-btn {
    background-color: rgb(199, 22, 22);
    transition: 0.2s background-color; 
}

.del-btn:hover {
    background-color: rgb(204, 21, 21); 
}